{% macro displayNewsList(news_list) %}

<!-- Content block -->
<div class="container">

    <!-- Poster background -->
    <div class="row">
        {% for news in news_list %}
        <!-- <li>{{ news.name}}</li> -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 news-details">
            <a href="/news/{{news.id}}">{{ news.name }}</a>
            <!-- <h3></h3> -->

            <p class="overview"> {{ news.description }}</p>
            <!-- <p class="ratings"> <b> {{ news.vote_average }}</b> - <i>{{ news.vote_count}} votes </i> </p> -->


        </div>
        {% endfor %}
    </div>

</div>

{% endmacro %}

{% macro displayArticleList(article_list) %}

    {% for article in article_list %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom: 20px;">
          <img src="{{article.inmageUrl}}" alt="{{article.title}}" class="img-responsive" style="height: 200px;">
          <h4>{{article.title | truncate(35)}}</h4>
          <p>{{article.description | truncate(80)}}</p>
          <br>
            <small>Published At: {{article.publishedAt}}</small>
            <br>
          <a href="{{article.url}}" target="_blank" class="btn">Read more...</a>
      </div>
    
    {% endfor %}
{% endmacro %}
